.setting-header {
  display: flex;
  height: 100%;
  margin-top: 25px;
  padding-left: 22px;
}

.upload-flies-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 60%;
  justify-content: space-between;
  > ul {
    width: 220px;
    height: 100%;
    overflow: auto;
    > li {
      display: inline-flex;
      align-items: center;
    }
    p {
      font-size: 14px;
      margin: 0px 0px 0px 10px;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #b4b4b4;
      border-radius: 50px;
    }
  }
}

.license-step-content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 35%;
  margin-bottom: 24px;
  input[disabled] {
    opacity: 1;
  }
  article {
    display: flex;
    align-items: center;
  }
  .actions {
    display: flex;
    justify-content: end;
    margin-top: 12px;
    margin-right: 20px;
  }
}

.upload-result {
  position: absolute;
  top: 0px;
  right: 0px;
}

.setting-container {
  width: 100%;
  height: 99%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .mask-1 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 00px 20px;
    h3 {
      font-size: 24px;
    }
  }
  .setting-sidebar {
    width: 30%;
    height: 100%;
    background-color: #fff;
    padding: 16px 10px;
    color: var(--text-color);
    letter-spacing: 0;
    word-spacing: 0;
    border: 1px solid var(--border-color);
    overflow-y: auto;
    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        display: inline-flex;
        align-items: center;
        &:hover {
          color: var(--primary-color);
          .icon-smile {
            background-image: url("../../../assets/images/icon-smile_hover.svg");
          }
        }
        div {
          margin-left: 8px;
        }
      }
    }
    .left-right {
      padding-left: 3.8961039%;
      padding-right: 3.8961039%;
    }
  }

  span {
    font-size: 14px;
  }
}

.about {
  width: 52.991453%;
  margin: 6px 0;
}

.copy-right {
  padding-top: 2px;
  font-size: 14px;
  font-weight: 500;
}

.setting-card {
  width: 31%;
  height: 30%;
  margin: 0px 0px 16px 16px;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  position: relative;
  vertical-align: middle;
  letter-spacing: 0;
  word-spacing: 0;
  transition: box-shadow 1s;
  box-shadow: none;
  &:hover {
    box-shadow: 0 0 25px rgba(0, 0, 6, 0.25);
  }
}

.setting-card-header {
  width: 100%;
  height: 28%;
  background-color: #e6f2cc;
}
.setting-card-body {
  width: 100%;
  height: 72%;
  padding: 46px 20px 20px 20px;
}

.setting-card-icons {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 25px;
  margin-left: 10px;
}

.setting-card-text-with-icon {
  width: 100%;
  position: absolute;
  display: flex;
  top: 10%;
  left: 5%;
}

.setting-card-category {
  width: 100%;
  font-size: 16px;
  margin-bottom: 37px;
  margin-top: 3px;
  color: var(--primary-color);
  opacity: 0.5;
  letter-spacing: 1px;
  font-weight: bold;
}

.setting-card-content {
  width: 100%;
  font-size: 20px;
  color: var(--primary-color);
  letter-spacing: 1px;
  font-weight: bold;
}

.license-warning {
  color: #ff9e18;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.license-notification {
  display: flex;
  position: absolute;
  top: 76%;
  left: 8%;
}

.setting-editor {
  display: flex;
  flex-direction: column;
  width: 67%;
  height: 100%;
  padding: 0px 30px 0px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  margin: 0px 16px;
  overflow-y: auto;
  &[data-view="false"] {
    background-color: rgba(128, 188, 0, 0.1);
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 10px 0px;
    h3 {
      display: inline-flex;
      align-items: center;
      margin: 0;
      color: var(--primary-color);
    }
  }
  .content {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    h4 {
      width: 100%;
      display: inline-flex;
      align-items: center;
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: bold;
      span {
        color: red;
        white-space: break-spaces;
      }
    }
  }
  .row-contents {
    display: flex;
    justify-content: space-around;
    height: 54%;
    .content {
      margin-right: 20px;
      p {
        font-size: 14px;
      }
      > .table-column {
        display: inline-flex;
        flex-direction: column;
        width: 42%;
        &:last-child {
          width: 16%;
        }
        ul {
          li {
            height: 42px;
          }
        }
      }
      .table-column[data-actions] {
        li,
        label {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &:last-child {
        margin-right: 0px;
      }
      h4 {
        justify-content: space-between;
      }
    }
  }
}

.exclusion-area {
  width: 49%;
  border: 1px solid lightgray;
  height: 100%;
  overflow-y: auto;
  background-color: white;
  padding-top: 16px;
}

.dhcp-total-table {
  display: flex;
  justify-content: space-between;
  height: 39px;
  align-items: center;
  padding-right: 38px;
}

.dhcp-scroll-area {
  height: 48%;
  overflow-y: auto;
  margin-top: 25px;
}

.dhcp-scroll-area::-webkit-scrollbar {
  width: 10px;
}

.dhcp-scroll-area::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.dhcp-scroll-area::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 50px;
}

.dhcp-total-table-list-scroll {
  overflow-y: auto;
  height: 80%;
  margin-top: 9px;
  color: white;
}

.dhcp-total-table-list-scroll::-webkit-scrollbar {
  width: 10px;
}

.dhcp-total-table-list-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.dhcp-total-table-list-scroll::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 50px;
}

.change-password {
  padding: 4px 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
  height: 25px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  margin-left: 35px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.inner-editing-area {
  margin: 0px auto 20px;
  padding: 20px;
  font-size: initial;
  border: 1px solid lightgray;
  background-color: white;
  width: 100%;
  height: 69%;
  overflow-y: auto;
  position: relative;
  p {
    font-size: 14px;
  }
  .license-content {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 0px 20px;
    > div {
      width: 50%;
      height: 100%;
      margin-right: 20px;
      > h4 {
        margin-bottom: 20px;
        font-size: 18px;
      }
      > p {
        margin-bottom: 40px;
        font-size: 14px;
        padding: 0px 40px 0px 0px;
      }
    }
    > div:nth-last-child() {
      margin-right: 0px;
    }
  }
}

.inner-editing-area::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.inner-editing-area::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.inner-editing-area::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 50px;
}

.database-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid var(--border-color);
  h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.database-page-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 50%;
  > section {
    width: calc(100% - 40px);
  }
  .fail-upload {
    margin-top: 16px;
    color: var(--primary-error);
  }
  .success-upload {
    margin-top: 16px;
    color: var(--primary-color);
  }
}

.setting-tab-content {
  display: flex;
  flex-direction: column;
  &:hover {
    .setting-tab-subtab {
      display: flex;
    }
  }
  .tab-selected {
    background-color: #fff;
  }
}

.setting-tab {
  display: flex;
  position: relative;
  justify-content: center;
  width: 190px;
  font-size: 14px;
  line-height: 55px;
  border-radius: 0%;
  background-color: var(--modal-sub-tab-bg);
  color: #434343;
  border: solid 1px #cfcfcf;
  box-shadow: none;
  letter-spacing: 0.5px;
  cursor: pointer;
  z-index: 5;
  &:hover {
    background-color: #fff;
  }
}
.setting-tab-subtab {
  display: none;
}

.setting-breadcrumb {
  display: flex;
  padding-left: 22px;
  line-height: 52px;
  margin-top: 10px;
  height: 6%;
}

.upload-license-file-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  padding: 0px 20px;
  border: dashed 1px var(--placeholder-color);
  background-color: rgba(238, 238, 238, 0.5);
}

.step-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
}

.step-circle-active {
  @extend .step-circle;
  color: white;
  background-color: var(--primary-color);
}

.disabled-link {
  pointer-events: none;
}