.wrapper {
  width: 100%;
  min-width: 1366px;
  min-height: 768px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper2 {
  width: 96.875%;
  min-width: 1366px;
  height: 100%;
  min-height: 768px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  letter-spacing: 0;
  word-spacing: 0;
}

.w-container {
  margin: 0 auto;
  min-width: 860px;
}

.wizard-container {
  float: left;
  position: relative;
  width: 78.3709677%;
  min-width: 708px;
  height: 768px;
  // overflow-x: auto;
  padding: 0 1%;
  .wrap01 {
    width: 100%;
    min-width: 660px;
    letter-spacing: 0;
    word-spacing: 0;
    position: relative;
    h3 {
      padding: 10px 0;
      font-size: 18px;
      font-weight: bold;
      span {
        padding-left: 8px;
        font-size: 16px;
        font-weight: normal;
        color: var(--border-color);
      }
    }
  }
}

.editor-content {
  letter-spacing: 0;
  word-spacing: 0;
  > li {
    height: 62px;
    margin-bottom: 12px;
    > label {
      font-size: 12px;
    }
    > p[data-view="true"] {
      margin-top: 7px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.wrap-960 {
  width: 96.774193%;
  min-width: 960px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  box-sizing: border-box;
  position: relative;
  padding-left: 1.61290323%;
  padding-right: 1.61290323%;
  border: 1px solid var(--border-color);
  .no-radius {
    border-radius: 6px 6px 0 0;
  }
}

.groupcontainer-2 {
  width: 99%;
  margin-left: 12px;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 50px;
  }
}

.wrap-33 {
  width: 93%;
  min-width: 312px;
  padding-left: 5.12820513%;
  padding-right: 0;
  position: relative;
}

.select-model {
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  min-width: 920px;
  width: 96.774193%;
  margin: 0 auto;
  .select-model-2 {
    width: 100%;
    margin: 0;
  }
  p {
    margin: 0;
    padding-left: 1.666666%;
  }
  .model-title {
    background-color: #fff;
    p {
      font-size: 12px;
      font-weight: 500;
      color: #a1a09c;
    }
    .title {
      float: left;
      height: 33px;
      line-height: 33px;
      border-top: 1px solid #a1a09c;
      border-bottom: 1px solid #a1a09c;
    }
    .title-left {
      width: 31.041666%;
      min-width: 298px;
    }
    .title-center {
      width: 17.9166667%;
      min-width: 172px;
      border-left: 1px solid #a1a09c;
      border-right: 1px solid #a1a09c;
    }
    .title-right {
      width: 51.041666%;
      min-width: 490px;
    }
  }
  ul {
    li {
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      font-weight: 500;
      color: #46423a;
    }
    .select {
      background-color: #fff;
    }
  }
  .select-content {
    width: 48.958333%;
    min-width: 470px;
    background-color: #fff;
    .click {
      background-color: var(--primary-color);
      color: #fff;
      position: relative;
    }
    .click.border-bottom:after {
      contain: "";
      border-bottom: 0;
    }
    .click:before {
      content: "‣";
      color: #fff;
      font-size: 20px;
      position: absolute;
      top: 0;
      right: 8px;
    }
    p {
      float: left;
      padding-left: 3.403455%;
    }
    .left {
      width: 63.402553%;
      min-width: 298px;
    }
    .right {
      width: 36.595744%;
      min-width: 172px;
    }
    .model-content {
      position: relative;
      cursor: pointer;
    }
    .model-content:after {
      content: "";
      width: 93.191184%;
      min-width: 438px;
      border-bottom: 1px solid #d0d0d0;
      margin-left: 3.40345532%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .select-content2 {
    width: 51.041666%;
    min-width: 490px;
    p {
      padding-left: 3.265306%;
    }
    li {
      position: relative;
    }
    li:after {
      content: "";
      width: 5px;
      height: 36px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.bgcontainer {
  position: relative;
  font-size: 0;
  li {
    display: inline-flex;
    justify-content: space-between;
    vertical-align: middle;
    height: 36px;
    width: 70px;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0;
    word-spacing: 0;
    .bor-r {
      border-right: 1px solid #a1a09c;
    }
  }
  .event-type {
    width: 17.395833%;
    min-width: 167px;
    padding-left: 1.666666%;
  }
  .date {
    width: 32.708333%;
    min-width: 314px;
    padding-left: 1.666666%;
  }
  .time {
    width: 38%;
    min-width: 168px;
  }
  .actions {
    width: 8%;
    margin-left: 4px;
  }

  .bg-list {
    border-top: 1px solid #a1a09c;
    border-bottom: 1px solid #a1a09c;
    li {
      font-size: 12px;
      color: #a1a09c;
    }
    .event-type {
      border-right: 1px solid #a1a09c;
    }
  }
}

.bgcontainer:nth-child(even) {
  background: #fff;
}

.bgcontainer:nth-child(odd) {
  background: #f4f4f5;
}
